@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    gap: 2rem;
}
aside{
    height: 100vh;
    width: 14.792vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0 4px black;
    padding: 1rem;
}
aside > #content-logo{
    padding-block-end: 1rem;

}
aside > nav{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
    
aside > nav > .open  {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    padding-right: .5rem;
    gap: .5rem;
    height:30%;
    padding-block-end: 50%;
}
aside > nav > .btn:hover{
    color: #8A2BE2;
    background-color: #5b1dd725;
}
aside > nav > .content-opt{
    display: none;
    height: 0%;
}
aside > nav > .btn{
    transition: 1s;
    font-weight: 500;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    border: none;
    width:calc(63% + 50px);
}

aside > nav > .open > button{
    width: 100%;
    transition: 1s;
    font-weight: 500;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content:flex-start ;
    border: none;
}
aside > nav > .open > button:hover{
    color: #8A2BE2;
    background-color: #5b1dd72c;
}

main {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;

}
main > section{
    height: fit-content;
    width: 100%;
}
main > section > #alert{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 39.306vh;
    border-radius: .5rem;
    border: .5px solid rgba(0, 0, 0, 0.313);
    box-shadow: 0 calc(1/4 * 1rem) calc(1/4 * 1rem) rgba(0, 0, 0, 0.237);
}
main > section > #alert > .conteiner-img , main > section > #alert > .conteiner-text{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#bottom-content{
    height: fit-content;
    width: 100%;
}
main > section > #alert > .conteiner-img > .card > img{
    width: 100%;
    height: 100%;
}
main > section > #alert > .conteiner-img > .card {
    width: 25%;
    height:90%;
}
main > section > .conteiner-div {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}
main > section > .conteiner-div > .conteiners {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: .5rem;
    background: url(../../public/images/2000s-vibes-with-metallic-reflective-effect.jpg) 50% 50%;
    background-size: cover;
    color: #fff;
}
main > section > .conteiner-div > .conteiner-partida {
    height: fit-content;
    width: 20%;
}

main > section > .conteiner-div > .conteiner-partida > .bodyConteiner > .content-escudos{
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    gap: 1rem;
    height:100%;
    width: 100%;
}
main > section > .conteiner-div > .conteiner-partida > .bodyConteiner > .content-escudos > .escudo{
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    border: none;
    outline: none;

}
main > section > .conteiner-div > .conteiner-partida > .bodyConteiner > .content-escudos > .escudo > img{
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;

}
.load{
    background: linear-gradient(to right,#ffffff53,#dfdfdf);
    border: none;
    outline: none;
    background-position-x:0 ;
    animation: loadBackground 1s cubic-bezier(0.79,-0.42,0.56,0.99) infinite;
}
main > section > .conteiner-div > .conteiner-partida > .bodyConteiner{
    padding-block-start: 1rem;
}

main > section > .conteiner-div > .conteiners {
    width: 50%;
    height: 100%;
    /* gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center; */
    background: #00000060;
}
main > section > .conteiner-div > .conteiners > div{
    width: 100%;
    height: 100%;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > section > .conteiner-div > .conteiners > div:hover{
    background: #00000080;
    transition: 1s;
}

.headConteiner {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.escudo-principal{
    width: 100%;
    height: 100%;
}
.headConteiner > span{
    padding: .25rem;
    border-left: 4px solid #8A2BE2;
}
.headConteiner > span[id="modality"]{
    display: flex;
    justify-content: center;
    border-radius: .05rem;
    color: #fff;
    width: fit-content;
    padding: .25rem .5rem;
    background: #8A2BE2;
}


@keyframes loadBackground {
    to{
        background-position-x:9rem;
    }from{
        background-position-x: 0rem;
    }
}