* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body {
    font-family: 'Inter';
}
.header {
    display: flex;
    flex-direction: row;
}
.exit {
    margin-top: 3%;
    margin-left: 7.5%;
    width: 2%;
    cursor: pointer;
}
.box {
    background-color: #d9d9d9;
    width: 60%;
    height: 250px;
    display: flex;
    align-self: center;
    margin-left: 19%;
}
.title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 2%;
    margin-left: 9%;
}
.main-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 19%;
    margin-top: 3%;
    gap: 2%;
}
.date-format {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.preview {
    margin-left: 19%;
    margin-top: 2%;
}
.preview-text {
    margin-left: 19%;
    margin-top: 1%;
    font-size: 12px;
}
.lixeira {
    margin-left: 77%;
    width: 2%;
    cursor: pointer;
}
.deleting {
    font-size: 20px;
    /* margin-top: 5%;
    margin-left: 7%; */
}
.keycode {
    color: red;
    
}
.close-modal {
    /* margin-top: 3%;
    margin-left: 7.5%; */
    width: 3%;
    cursor: pointer;
}
    dialog {
        border: 1px solid #5b1dd7;
        border-radius: .5em;
        width: 45vw;
        height: 60vh;
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        font-size: 12px;
        position: absolute;
        top: 25%;
        left: 25%;
        padding: 1rem;
        gap: 1rem;

    }
    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.3);
    }
.title-and-x {
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.keycode {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 0.5rem;
}
.keycode-is {
    display: flex;
    gap: 0.25rem;

}
strong {
    margin-top: 2rem;
}
.input-keycode {
    width: 50%;
    background-color: #d9d9d9;
    color: black;
    border-radius: .275rem;
    padding: .25rem;
}
input::placeholder {
    color: black;
}